/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Sansita+Swashed:wght@300&family=Shippori+Antique+B1&display=swap');

/* Basic styles */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
/* End Basic styles */

/* Variables */
:root {
    --primary: #D15B91;
    --secondary: #A05868;
    --yellow: #BFB63B;
    --mustard: #B8B63E;
    --background: #B59A9E;
    --light-white: #F2F2F2;
    --dark: #2B2B2B;
    --primary-font: 'Shippori Antique B1', sans-serif;
    --secondary-font: 'Anton', sans-serif;
    --special-font: 'Sansita Swashed', sans-serif;
}

body {
    height: 100vh;
}
/* End variables */

/* Helpers */

.display-row {
    display: flex;
}

.display-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* End Helpers

/* Layout */
#home {
    display: grid;
    grid-template-areas: 
    "aside header header header"
    "aside section section section"
    "aside footer footer footer";
    grid-template-columns: 3%;
    grid-template-rows: 30% 1fr 1fr;
}

aside {
    grid-area: aside;
}

header {
    grid-area: header;
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
}

/* End Layout */

/* Home */
.header {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header__content {
    justify-content: center;
    align-items: center;
}

.header__title {
    font-family: var(--special-font);
    color: var(--light-white);
    font-size: 5em;
}
/* End home */