/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Sansita+Swashed:wght@300&family=Shippori+Antique+B1&display=swap');

/* Basic styles */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
/* End Basic styles */

/* Variables */
:root {
    --primary-color: #41F2E1;
    --secondary-color: #227364;
    --light-white: #DCE8F2;
    --bg-color: #f2f2f2;
    --font-color: #2b2b2b;
    --transparent-dark: rgba(0, 0, 0, 0.8);
    --icon-color: #2b2b2b;
    --nav-color: #2b2b2b;
    --nav-font-color: #f2f2f2;
    --primary-font: 'Shippori Antique B1', sans-serif;
    --secondary-font: 'Anton', sans-serif;
    --special-font: 'Sansita Swashed', sans-serif;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --icon-color: #f2f2f2;
    --nav-color: #f2f2f2;
    --nav-font-color: #2b2b2b;
}

body {
    height: 100vh;
    background-color: var(--bg-color) !important;
    color: var(--font-color) !important;
}
/* End variables */

/* Icons */
.icon {
    color: var(--icon-color);
    transition: all step-end;
}

.icon:hover {
    animation-name: aside__icons;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.navbar-icon {
    color: var(--nav-font-color);
    transition: all step-end;
}

.navbar-icon:hover {
    animation-name: aside__icons;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* End icons */

/* Helpers */

.display-row {
    display: flex;
}

.display-column {
    display: flex;
    flex-direction: column;
}

.container-box {
    max-width: 1080px;
    margin: 0 auto;
}

ul {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
}

/* End Helpers

/* Layout */
#home {
    display: grid;
    grid-template-areas: 
    "aside header header header"
    "aside navbar navbar navbar"
    "aside section section section"
    "aside footer footer footer";
    grid-template-columns: 3%;
    grid-template-rows: 30% 5rem 1fr 1fr;
}

aside {
    grid-area: aside;
}

header {
    grid-area: header;
}

nav {
    grid-area: navbar;
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
}

@media screen and (max-width: 768px) {
    #home {
        grid-template-areas: 
        "aside aside aside aside"
        "header header header header"
        "navbar navbar navbar navbar"
        "section section section section"
        "footer footer footer footer";
        grid-template-columns: 1fr;
        grid-template-rows: 5% auto;
    }
}

/* End Layout */

/* Aside */
.aside {
    position: fixed;
    top: 40vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 0.3rem;
}

.aside__box{
    margin: 2rem 0;
}

.aside__item {
    margin: 1em 0;
}

@media screen and (max-width: 768px) {
    .aside {
        position: relative;
        top: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .aside__box {
        display: flex;
    }

    .aside__item {
        margin: 0 1rem;
    }
}

/* End Aside */


/* Home */
.header {
    background-image: url(../images/header.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header__content {
    display: grid;
    grid-template-areas: 
    "title"
    "logo";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.header__content__title__box {
    grid-area: title;
    grid-row-start: 2;
    justify-self: start;
    border-radius: .5rem;
    background-color: var(--transparent-dark);
}

.header__content--title {
    font-family: var(--special-font);
    color: var(--light-white);
    font-weight: bold;
    font-size: 5em;
    padding: .2em;
}

/* End home */

/* Navbar */

.navbar {
    background-color: var(--nav-color);
    width: 100%;
}

.navbar__box {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.navbar__box__item {
    align-self: center;
}

.navbar-logo {
    justify-self: start;
}

.navbar-list {
    justify-self: center;
    display: flex;
}

.navbar-switch {
    display: flex;
    justify-self: end;
}

.navbar__icon__box-image {
    width: 100%;
    min-width: 2rem;
    max-width: 2rem;
}

.navbar-list__item {
    margin: 0 1rem;
}

.navbar-item {
    color: var(--nav-font-color);
    font-family: var(--primary-font);
}

.dark__mode-text {
    color: var(--nav-font-color);
    font-family: var(--primary-font);
}
/* End navbar */

