/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Sansita+Swashed:wght@300&family=Shippori+Antique+B1&display=swap');

/* Basic styles */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
/* End Basic styles */

/* Variables */
:root {
    --primary: #41F2E1;
    --secondary: #227364;
    --light-turqoise: #41F2C0;
    --background: #B59A9E;
    --light-white: #DCE8F2;
    --dark: #2b2b2b;
    --transparent-dark: rgba(0, 0, 0, 0.8);
    --primary-font: 'Shippori Antique B1', sans-serif;
    --secondary-font: 'Anton', sans-serif;
    --special-font: 'Sansita Swashed', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--dark) !important;
    color: var(--light-white) !important;
}
/* End variables */

/* Helpers */

.display-row {
    display: flex;
}

.display-column {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* End Helpers

/* Layout */
#home {
    display: grid;
    grid-template-areas: 
    "aside header header header"
    "aside section section section"
    "aside footer footer footer";
    grid-template-columns: 3%;
    grid-template-rows: 30% 1fr 1fr;
}

aside {
    grid-area: aside;
}

header {
    grid-area: header;
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
}

@media screen and (max-width: 768px) {
    #home {
        grid-template-areas: 
        "aside aside aside aside"
        "header header header header"
        "section section section section"
        "footer footer footer footer";
        grid-template-columns: 1fr;
        grid-template-rows: 5% auto;
    }
}

/* End Layout */

/* Aside */

.aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.aside__item {
    margin: 1em 0;
}

.aside__item__icon {
    color: var(--light-white);
    transition: all step-end;
}

.aside__item__icon:hover {
    animation-name: aside__icons;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* End Aside */


/* Home */
.header {
    background-image: url(../images/header.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header__content {
    display: grid;
    grid-template-areas: 
    "title"
    "logo";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.header__content__title__box {
    grid-area: title;
    grid-row-start: 2;
    justify-self: start;
    border-radius: .5rem;
    background-color: var(--transparent-dark);
}

.header__content--title {
    font-family: var(--special-font);
    color: var(--light-white);
    font-weight: bold;
    font-size: 5em;
    padding: .2em;
}

.header__content__picture {
    grid-area: logo;
    grid-column-start: 2;
    align-self: flex-end;
    justify-self: end;
}

.header__content__picture-image {
    width: 100%;
    max-width: 4em;
}
/* End home */